# custom
tests/
src/__pycache__

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# uv
.uv/

# Python version file
.python-version
